*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap; /*se não estiver espaço cai para proxima linha*/
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

/*a tela não rodara para baixo*/
html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 20px;
    width: 45%;
    text-align: right;
}

.menu a{
    color: rgb(44, 31, 31);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

/*pocisionanto do circulo*/
section.sobre{
    height: calc(100% - 30%);
    position: relative;
}
/*tamanho do circulo*/
.extras{
    position: absolute;
    bottom: -425px;
    right: -390px;
    width: 990px;
    height: 990px;
    border-radius: 50%;
    background-color: #017143;
}

.social-media{
    position: absolute;
    right: 400px;
    top: 150px;
}

.social-media img{
    display: block;
    width: 20px;
    margin: 20px 0;
}

.texto-sobre{
    margin-top: 10px;
}

.texto-sobre h1{
    font-size: 50px;
}

.texto-sobre p{
    margin: 20px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 570px;
}

.texto-sobre button{
    border: 0;
    background-color: #017143;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    cursor: pointer;
}